services:
  mongodb:
    image: mongo:7
    container_name: team-project
    restart: unless-stopped
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongodb_data:/data/db
    networks:
      - team-project-network

volumes:
  mongodb_data:

networks:
  team-project-network:

